<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
</head>
<h1>Users#index</h1>
<form action='/sessions/' method='post'>
	email:<input type='text' name='email'>
	password:<input type='password' name='password'>
	<input type='submit' value='Log In'>
	<input name="authenticity_token" type="hidden" value="token_value">
</form>
<%= link_to "/auth/facebook" do%><%= image_tag('facebook.png',width:'40',height:'40',class: 'img_circle')%>
<%end%>
<a href='/users/new'>Sign Up </a>
<%=flash[:error]%>
<h1> HIIIIIIIIII jackie you be stupid as fuck shawty<h1>