<h1>Mains#index</h1>
<form action='/sessions' method='post'>
<input type='hidden' name='_method' value='delete'>
<input name="authenticity_token" type="hidden" value="token_value">
	<input type='submit' value='log out'>
</form>
<p>Find me in app/views/mains/index.html.erb</p>
