<style>
body {
    background: url('/assets/city2.gif');
    background-size:100%;
    background-repeat: repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
}
</style>


<!-- <h1>Users#new</h1>
<form action='/users' method='post'>
	name:<input type='text' name='user[name]'>
	email:<input type='text' name='user[email]'>
	password:<input type='password' name='user[password]'>
	confirm password:<input type='password' name='user[password_confirmation]'>
	<input type='submit' name='create user'>
	<input name="authenticity_token" type="hidden" value="token_value">
</form> -->
<%if flash[:errors]%>
	<%flash[:errors].each do |e|%>
	<%= e %>
	<% end %>
<% end %>




<div class="container">    
        <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up for ThirdWheel!</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">Sign In</a></div>
                        </div>  
                        <div class="panel-body" >
                            <form id="signupform" class="form-horizontal" role="form" action='/users' method='post'>
                                
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                    
                                
                                  
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label">Email</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="user[email]" placeholder="Email Address">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="name" class="col-md-3 control-label">Name</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="user[name]" placeholder="Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" name="user[password]" placeholder="Password">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <label for="icode" class="col-md-3 control-label">Password Confirmation</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="user[password_confirmation" placeholder="Confirmation">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign Up</button>
                                        <span style="margin-left:8px;">or</span>  
                                    </div>
                                </div>
                                <input name="authenticity_token" type="hidden" value="token_value">
                                
                                <div style="border-top: 1px solid #999; padding-top:20px"  class="form-group">
                                    
                                    <div class="col-md-offset-3 col-md-9">
                                        <a href="/auth/facebook" class="btn btn-sm btn-primary register">Sign up with Facebook!</a>
                                    </div>                                           
                                        
                                </div>
                                
                                
                                
                            </form>
                         </div>
                    </div>

               
               
                
         </div> 
    </div>

